*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties & Variables */

:root {
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Ubuntu Mono", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #f5f5f5;
  --clr-light-rgb: 255, 255, 255;
  --clr-mid-text: #d4d4d4;
  --clr-main: #365943;
  --clr-main-rgb: 54, 89, 67;
  --clr-dark: #303030;
  --clr-darker: #272727;
  --clr-accent: #c1aec0;
  --clr-accent-rgb: 192, 174, 192;
  --clr-accent-2: #eea144;
  --clr-accent-2-rgb: 238, 161, 68;

  --fs-h1: 4rem;
  --fs-h2: 3rem;
  --fs-h3: 2rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* General Styles */

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
}

@media (max-width: 500px) {
  html {
    scroll-padding-top: var(--scroll-padding, 20px);
  }
}

body {
  background: var(--clr-main);
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  overflow-x: hidden;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

p {
  margin: 0;
  padding: 0;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.section__about--project-list {
  margin: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.section__about--sample-projects {
  margin-bottom: 1em;
}

.section__about--link {
  color: inherit;
  text-decoration: none;
}

.section__about--link:hover {
  text-decoration: underline;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent-2);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
  padding: 0;
}
/* 
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
} */

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  justify-content: center;
}

.section__title--intro strong {
  /* display: block; */
  margin-left: 0.4em;
}

.section__subtitle {
  margin: 0;
  /* font-size: 2rem; */
}

.section__subtitle--intro {
  margin-bottom: 0.5em;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
}

.section__subtitle--work {
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.section__title--contact,
.section__title--skills {
  color: var(--clr-light);
  font-weight: var(--fw-bold);
}

.section__subtitle--contact {
  color: var(--clr-ligh);
  font-weight: var(--fw-reg);
  margin-bottom: 0.5em;
}

form textarea {
  font-family: var(--ff-primary);
}

.about-me__body--text {
  font-size: 1em;
  margin: 1rem 0;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.5);

  z-index: 500;
}

.fa-c {
  font-size: 2rem;
  color: var(--clr-accent-2);
}

.logo:hover {
  color: var(--clr-light);
}

.nav {
  position: fixed;
  background: var(--clr-light);
  color: var(--clr-dark);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.55em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1.3em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0%);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent-2);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

@media (min-width: 1000px) {
  header {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
  /* #home, */
  /* #about,
  #skills,
  #work {
    margin-top: -100px;
    padding-top: 100px;
  } */

  .nav {
    position: fixed;
    background: transparent;
    color: var(--clr-light);
    top: 0;
    bottom: calc(100% - 64px);
    left: 30%;
    right: 80px;
    z-index: 100;
    transform: translateX(200%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }
  .nav-open .nav {
    transform: translateX(0%);
  }
  .nav__list {
    list-style: none;
    display: flex;
    height: 64px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  .nav__link {
    font-size: 1.3rem;
  }
  .nav__link:hover {
    color: var(--clr-light);
    box-shadow: inset 0 -10px rgba(var(--clr-accent-2-rgb), 1);
  }
}

/* INTRO */

.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.section__title--intro {
  width: 350px;
  display: flex;
  flex-wrap: nowrap;
}

.intro__img {
  box-shadow: var(--bs);
  max-width: 350px;
  margin-top: 1em;
}

.section__subtitle--intro {
  display: inline-block;
  /* margin-top: 0.5em; */
  width: 350px;
  text-align: end;
}

.work-btn {
  margin-top: 2em;
  width: fit-content;
}

@media (min-width: 900px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 5em auto 0 auto;
    grid-column-gap: 1.5em;
    grid-template-areas:
      "img title"
      "img subtitle"
      "work work";
    grid-template-columns: max-content max-content;
    padding: 0 1em;
  }

  .intro__img {
    grid-area: img;
    min-width: 300px;
    position: relative;
    z-index: 2;
  }

  .section__title--intro {
    width: 100%;
    font-size: 3.5rem;
    font-weight: var(--fw-reg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .section__title--intro strong {
    display: block;
    margin: 0;
    margin-top: 0.2em;
  }

  .section__subtitle--intro {
    align-self: center;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    top: -10%;
    width: calc(100% + 2.5em);
    font-size: 1.5rem;
  }

  .work-btn {
    grid-area: work;
    position: relative;
    left: 58%;
    top: -110%;
  }
}

/* SERVICES */
/* 
.my-services {
  background-color: var(--clr-dark);
  background-image: url(../img/connor_leavitt_working_at_computer.jpeg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-light);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.35;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin: 0 auto 4em auto;
  }

  .service + .service {
    margin-left: 2em;
  }
} */

/* ABOUT ME */

.about-me {
  margin: 0 auto;
  background-color: #c0decb;
  color: var(--clr-dark);
}

.about-me__body {
  grid-area: body;
}

.about-me__body strong {
  color: var(--clr-darker);
}

.about-me__img {
  box-shadow: var(--bs);
  /* max-width: 150px; */
}

.section__title--about {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 700px) {
  .about-me {
    /* min-width: 100%; */
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
  }

  .about-me--container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "body img";
    grid-column-gap: 2em;
    /* grid-template-rows: 50px 50px 1fr; */
    padding: 0 2em;
  }

  .section__title--about {
    grid-area: title;
    font-size: 3rem;
  }

  /* fix height of accent bar */

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(300px + 4em);
  }

  .about-me__body {
    grid-area: body;
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
    border-radius: 0.5%;
    height: 400px;
  }
}

hr {
  height: 5px;
  background-color: var(--clr-mid-text);
  border: 0;
  outline: 0;
}

/* MY SKILLS */

/* .skill-tags-main-container {
  border: 2px solid white;
  border-radius: 5px;
} */

.section__title--skills {
  font-size: 2rem;
}

.skill-tags-main-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 1em;
  position: relative;
}

.section__subtitle--skills {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  border-radius: 0 10px 10px 0;
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
  margin: 0.5em 0;
}

.skill-tags-main-subcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.skill-tag {
  /* display: inline-block; */
  margin: 0.1em;
  padding: 0.15em 0.35em;
  border-radius: 3px;
  color: var(--clr-dark);
}

[data-type="frontend"],
[data-type="backend"],
[data-type="design"],
[data-type="tool"] {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.skills-explain-border {
  display: flex;
  /* align-items: flex-end; */
  /* border: 2px solid red; */
  position: absolute;
  right: 0;
  top: -10%;
}

.skills-explain-border .skill-tag {
  display: flex;
  align-items: center;
  /* height: 100px; */
  color: var(--clr-light);
}

.aquired {
  border: 2px solid rgb(165, 248, 162);
}

.in-progress {
  border: 2px solid rgb(255, 255, 148);
}

@media (max-width: 375px) {
  .skills-explain-border {
    font-size: 0.8rem;
    right: 5px;
    top: -9%;
  }
}

@media (min-width: 700px) {
  .my-skills {
    /* display: flex;
    flex-direction: column; */
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1000px;
  }

  .section__title--skills {
    font-size: 3rem;
  }

  .skills-explain-border {
    right: 10px;
    top: -13%;
  }
}

/* MY WORK */

/* #work {
  margin-top: -100px;
  padding-top: 100px;
} */

.my-work {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
}

.section__title--work {
  font-size: 2rem;
}

.github-project-link {
  color: inherit;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1000px;
  gap: 1em;
  margin: 0 auto;
}

.portfolio__item {
  background: var(--clr-light);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.85;
}

.project-link-text {
  color: var(--clr-dark);
  cursor: pointer;
  transition: transform 150ms;
}

.portfolio a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* border: 2px solid var(--clr-accent-2); */
}

.portfolio a .project-link-text:hover {
  transform: scale(1.5);
}

@media (min-width: 700px) {
  .section__title--work {
    font-size: 3rem;
  }
}

.section__my-work {
  margin: 0 auto;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.my-work--container {
  max-width: 100%;
}

.section__portfolio-list {
  margin: 0;
  padding: 0;
}

.section__portfolio-list-item:not(:last-child) {
  margin-bottom: 4rem;
}

.section__portfolio-list-item {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  margin: 0;
  padding: 0;
}

.section__portfolio-list-item-img {
  opacity: 0.8;
}

.section__portfolio-list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

.section__portfolio-list-item-content > h4 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.section__portfolio-list-item-content-text-container {
  margin-top: 1rem;
  background-color: var(--clr-main);
  border: 2px solid var(--clr-light);
  color: var(--clr-light);
  font-size: 1.05rem;
  padding: 1rem;
  border-radius: 5px;
}

.section__portfolio-list-item-content-text-two {
  margin-top: 1rem;
}

.section__portfolio-list-item-content-tag-container {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.section__portfolio-list-item-content.right
  > .section__portfolio-list-item-content-tag-container {
  justify-content: flex-end;
}

.section__portfolio-list-item-content-tag {
  margin: 0.5rem;
  padding: 0.5rem;
  color: #365943;
  font-weight: bold;
  background-color: #c0decb;
  border-radius: 5px;
}

.section__portfolio-list-item-content-tag:last-child {
  margin-right: 0;
}

.section__portfolio-list-item-learn-more {
  font-size: 2rem;
}

.section__portfolio--link {
  color: var(--clr-accent);
}

@media (min-width: 800px) {
  .section__my-work {
    margin: 0 auto;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .my-work--container {
    max-width: 1000px;
  }

  .section__portfolio-list {
    margin: 0;
    padding: 0;
  }

  .section__portfolio-list-item {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    list-style: none;
    margin: 0;
    margin-bottom: 5rem;
    padding: 0;
  }

  .section__portfolio-list-item-img-container.right {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 2;
  }
  .section__portfolio-list-item-img-container.left {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
  }

  .section__portfolio-list-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
  }

  .section__portfolio-list-item-content.right {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: right;
  }

  .section__portfolio-list-item-content.left {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .section__portfolio-list-item-content > h4 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }

  .section__portfolio-list-item-content-text-container {
    margin-top: 1rem;
    background-color: var(--clr-main);
    border: 2px solid var(--clr-light);
    color: var(--clr-light);
    font-size: 1.05rem;
    padding: 1rem;
    border-radius: 5px;
  }

  .section__portfolio-list-item-content-text-one {
    margin-bottom: 1rem;
  }

  .section__portfolio-list-item-content-tag-container {
    margin: 1rem 0;
    display: flex;
  }

  .section__portfolio-list-item-content-tag:last-child {
    margin-right: 0;
  }

  .section__portfolio-list-item-learn-more {
    font-size: 2rem;
  }
}

/* CONTACT ME */

.contact-me {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section__title--contact {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.contact-me p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: normal;
  max-width: 500px;
  color: var(--clr-mid-text);
}

.contact-me .btn {
  width: 175px;
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 0.75em;
  align-self: center;
  margin-top: 2em;
  background: var(--clr-accent-2);
}

@media (min-width: 700px) {
  .section__title--contact {
    font-size: 3rem;
  }
}

/* FOOTER */

.footer {
  background: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  padding: 0.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0.5em 0 0;
  padding: 0;
}

.social-list__items {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* INDIVIDUAL PORTFOLIO ITEM STYLES */

.intro-portfolio {
  margin: 0 auto;
}

.section__intro--portfolio-main {
  padding: 2em;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 3em;
  background-color: var(--clr-accent);
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-dark);
}

.portfolio-item-individual img {
  max-width: 700px;
  margin: 2em auto;
}

.spacer {
  position: relative;
  aspect-ratio: 900/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid transparent;
}

.waves-dark-to-light {
  background-image: url("../img/layered-peaks-haikei.svg");
  border-bottom: 1px solid #c0decb;
  /* border-right: 1px solid #99bea6; */
}

.waves-light-to-dark {
  background-image: url("../img/layered-peaks-haikei-2.svg");
  border-top: 5px solid #c0decb;
}

.waves-above-work {
  background-image: url("../img/waves-above-work.svg");
  border-bottom: 5px solid #f5f5f5;
}

.waves-below-work {
  background-image: url("../img/waves-below-work.svg");
  border-top: 5px solid #f5f5f5;
}
