header.top {
    background-color: rgb(163, 163, 255);
    padding: 0px 0px 0px 0px;
    margin: 0px;
    height: 95px;
    color: white;
  }

nav {
    position: sticky;
    top: 0;
    background-color: rgb(163, 163, 255);
	margin: 10px 0px 0px 0px;
}
    nav ul {
        margin: 0px;
        list-style-type: none;
        padding: 5px 0px 5px 0px;
    }
    nav ul li {
        display: inline;
        padding: 5px 10px 5px 10px;
        color: white;
    }
    nav ul li a:link, nav ul li a:visited {
        color: #ffffff;
        border-bottom: none;
        font-weight: bold;
    }
    nav ul li.selected {
        background-color: rgb(110, 110, 255);
    }

#recipe_logo {
    padding: 10px 0px 0px 10px;
    float: left;
}

#header-title {
    display: inline;
    position: absolute;
    padding: 15px 0px 0px 100px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

#recipe-name {
    text-align: center;
}
#intro {
    font-style: italic;
    text-align: center;
}
#bio {
    font-weight: bold;
    text-align: center;
}

aside {
    float: right;
    display: table-cell;
    font-size: 105%;
    padding: 15px;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
    width: 200px;
  }

    #recipe-info-list {
        border: 1px solid gray;
        line-height: 200%;
        padding: 10px;
        list-style-type: none;
        text-align: center ;
    }
    .general-info {
        font-weight: bold;
    }

#ingredients {
    border-top: 3px solid gray;
}
    #ingredients-info-list {
        list-style-type: square;
        line-height: 150%;
    }


#directions {
        border-top: 3px solid gray;
    }
    .step1 {
        list-style-type: square;
    }
    
    .step2 {
        padding: 2px;
    }

#nutritional-facts {
        border-top: 3px solid gray;
    }

h2 {
    font-size: 200%;
}


footer {
    background-color: #728196;
    color: white;
    font-size: 16px;
    min-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 10px 0px;
}

.footer-text a:link, .footer-text a:visited {
    color: white;
    border-bottom: none;
    text-decoration: none;
}


